<div>
    <header>
      <h1>Mi Perfil - Clínica XYZ</h1>
    </header>
  
    <nav class="tab-buttons">
      <button (click)="showTab('perfil')">Mi Perfil</button>
      <button (click)="showTab('citas')">Mis Citas</button>
      <button (click)="showTab('pqr')">Mis PQR</button>
      <button (click)="showTab('historial')">Mi Historial</button>
    </nav>
  
    <div>
      <p>contenido</p>
      <img src="https://www.mirales.es/sites/default/files/styles/hero_desktop/public/heros/Foto-de-perfil.jpg" alt="monalisa" width="100" height="100">
      
      

    </div>
  
    <footer>
      <p>&copy; 2023 Clínica XYZ</p>
      <button (click)="showTab('terminarSesion')">terminarSesion</button>

    </footer>
  </div>
  
