<div>
    <header>
      <h1>Mi Perfil - Clínica XYZ</h1>
    </header>
  
    <nav class="tab-buttons">
      <button (click)="showTab('perfil')">Mi Perfil</button>
      <button (click)="showTab('citas')">Mis Citas</button>
      <button (click)="showTab('pqr')">Mis PQR</button>
      <button (click)="showTab('historial')">Mi Historial</button>
    </nav>
  
    <div>

      <button (click)="showTab('terminarSesion')">terminarSesion</button>


    </div>
  
    <footer>
      <p>&copy; 2023 Clínica XYZ</p>
    </footer>
  </div>
  
