/* Añadir clases de Bootstrap según sea necesario */
.container {
    max-width: 600px; /* Ajusta el ancho según tus preferencias */
    margin-top: 30px;
  }
  
  /* Añadir estilos específicos del componente si es necesario */
  /* Por ejemplo, si quieres personalizar los estilos de los inputs: */
  form input {
    margin-bottom: 10px;
  }
  
  /* Personalizar estilos del botón */
  button {
    font-size: 18px;
  }